{% extends "base.html" %}
{% block content %}
<h1>Welcome to the Game!</h1>
<p>This is a fun guessing game. Register or login to start playing!</p>
   <!-- Game Instructions Section -->
   <div class="game-instructions">
    <h2>How to Play the Game</h2>
    <p>To play the game, follow these steps:</p>
    <ol>
        <li>Log in with your account or register if you don't have one.</li>
        <li>After logging in, navigate to the "Game" page.</li>
        <li>In the game, you'll need to guess a 6-digit number (0-9), with each digit being unique.</li>
        <li>Enter your guess in the input fields provided and click "Submit."</li>
        <li>The system will show you how many digits were correct and how many were in the correct position.</li>
        <li>Continue guessing until you get all digits and positions correct.</li>
        <li>Check your guess history to see your progress.</li>
    </ol>
    <p>Good luck! </p>
    <p>#PUKUMPee คัมภีร์สายกระบี่คริปโต</p>
</div>
</div>
{% endblock %}
